body {
	font-family: 'Roboto', sans-serif;
}
a, a:hover {text-decoration:none;}
.alert a {text-decoration:none;text-transform: uppercase;}
h2,h3,h4 {
    margin-top: 30px;
    margin-bottom: 10px;
}
.h2, h2 {
    font-size: 1.2rem;
    color: #8a2027;
}
.navbar {
	/* height: 10vh; */
    /* background: blue !important; */
}
.navbar-item img {
    height: 9vh;
    width: auto;
    max-height:none;
}
.navbar-item {
	color: #FFCC00;
}
.navbar-item:hover {
	color: #FFCC55;
}
.navbar-brand {font-weight: bold; color: #fff !important;}
.banner {
	height: 70vh;
	display: flex;
}
.banner img {
	width: 100%;
}
div.main-tab div {
	height: 20vh;
}
div.main-tab div a {
    color: #fff;
    display: block;
    width: 100%;
    height: 100%;
}
div.main-tab div img {
	margin-top: 25px;
}
div.nav-box {
	background-color: #fbed95;
    border: 1px solid #c9215e;
    padding: 15px;
    width: 100%;
    margin:5px;
}
div.nav-box h2 {color: #c9215e;font-weight: bold;margin-bottom: 20px;}
a.link-item{
	text-align: center;
    color: #fff;
    background: #c9215e;
    display: block;
    padding: 5px;
    /*margin-top: 20px;*/
}
.slide-up {
    border:1px solid #c9215e;
    height: 368px;
    padding: 20px 10px;
}
.slide-up-2 {
    border:1px solid #c9215e;
    height: 415px;
    padding: 20px 10px;
}
.vbox {
    border: 1px solid #c9215e;
    margin-bottom: 10px;
    padding: 10px;
    background: #fff3ce;
}
.vbox p {
    margin-top: 0px;
    margin-bottom: 0px;
}
.vbox>p{font-weight: bold;}
.vbox .info-value p.subtitle {
    font-size: 12pt;
    font-weight: normal;
}
.vbox .info-value p {
    font-size: 34px;
    font-weight: bold;
    margin: 4px 0px;
    /*color: #c9215e;*/
}
.date {
    font-size: 10pt;
    color: #afafaf;
}
.lien-ket img {
    height: 120px;
}
.lien-ket-2 img {
    height: 100px;
}
.lien-ket p,.lien-ket-2 p {
    margin-top: 20px;
    margin-bottom: 0px;
}
.rp-button {
    padding: 30px;
}
.rp-button p {
    margin-top: 5px;
}
.xuat-bao-cao {
    margin-top: 15px;
    margin-bottom: 15px;
}
.xuat-bao-cao .btn {
    margin:5px;
    color: #fff !important;
}
.thanh-vien .alert {height: 75px;
    /*line-height: 55px;*/}
    .thanh-vien .alert p {
        line-height: 50px;
    }
.xuat-bao-cao .align-center {margin:0 auto;width: fit-content}
.box-button .alert img {
    padding: 10px 0px;
}
.small-box-footer .info-value li {width: 255px;}
.thong-ke {
    margin-bottom: 60px;
}
.course-item {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 3px 3px 6px #ccc;
    height: 289px;
    margin-bottom: 20px;
}
.course-item p {
    margin: 10px 5px 0px;
}
.carousel li {
    height: 80px;
}
@media (min-width: 576px) {
    .modal-dialog {
        margin: 8.25rem auto;
    }
    #Modal2 .modal-dialog, #Modal3 .modal-dialog {
        max-width: 768px;
    }
    #Modal3 .modal-dialog, #Feedback .modal-dialog {
        margin: 3.25rem auto;
    }
}
.bg-custom {
    background-color: #5aa1ca;
}
.bg-custom h3, .bg-custom p {color: #fff}
.test-item {
    margin-bottom: 30px;
    width: 100%;
}
#countdown {
    font-weight: bold;
    border: 1px solid #fff;
    padding: 8px 15px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 3px;
    background-color: #f39c12;
}
.content-footer {
    width: fit-content;
    margin: 0 auto;
}
.ket-qua-thi {
    border: 3px solid green;
    width:fit-content;
    margin: 0 auto;
    padding: 25px 50px;
}

.chosen-container {
    margin-right: 10px;
    width: 100% !important;
}

.chosen-container .chosen-single {
    height: 32px !important;
}
.chosen-container .chosen-single span,
.chosen-container .chosen-single abbr,
.chosen-container .chosen-single b {
    margin-top: 3px;
}
table tbody tr {
    cursor: pointer;
}
.form-group-item {
    display: flex;
}
.control-label {
    font-weight: bold;
}
.progress-revert {
    position: relative;
}
.progress-bar-revert {
    position: absolute;
    height: 25px;
    right: 0;
}

.main-box-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.main-box-item:hover {
    opacity: 0.8;
    
    transition: 0.3s;
    transform: scale(1.1);
    cursor: pointer;
}
.main-box-item > i {
    font-size: 48px;
}
.main-box-item > span {
    font-size: 16px;
    margin: 10px 10px 0px 10px;
    text-align: center;

}
.sub-box-item {
    color: white;
    font-size: 20px;
    margin: 10px 40px;
    background: rgb(228, 65, 65);
    border-radius: 30px;
    padding: 10px 30px;
}
.sub-box-item-active {
    background: rgb(184, 39, 39);
}

.sub-box-inter {
    background: rgb(20, 81, 223);
}

.sub-box-item::before {
    width: 20px;
    height: 2px;
    background: blue;
}
.sub-box-item:hover {
    cursor: pointer;
    background: rgb(238, 243, 243);
    color: rgb(54, 55, 59);
    transform: scale(1.03);
    transition: 0.3s;
}
.connection-line {
    background: url('../images/line.png') no-repeat !important;
    background-size: 100% 100%;
}
.select-none:hover {
    cursor: normal;
    opacity: 1;
    transform: scale(1);
}

.inter-org-item {
    margin: 10px;
}
.inter-org-item:hover {
    cursor: pointer;
    text-decoration: none;
}
.org-item img {
    margin:0 auto;
}
.inter-org-item >span {
    font-size: 14px;
    max-width: 200px;
}
.homelink li {
    border-top: 1px solid #24323d;
    border-bottom: 1px solid #3f566a;
}
.homelink ul {
    border-top: 1px solid #24323d;
    border-bottom: 1px solid #3f566a;
}
.homelink li a {
    display: block;
    color: #f0f0f0;
    padding: 10px 15px;
}
.homelink li a:hover {
    background-color: rgba(31, 192, 142, 0.8);
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #3a6d96;
    /* overflow-x: hidden; */
    transition: 0.5s;
    padding-top: 60px;
    /* padding-left: 30px; */
}

.sidenav a {
    padding: 8px;
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    display: block;
    transition: 0.3s;
    font-weight: bold;
}

.sidenav a:hover {
    color: #f1f1f1;
    background-color: rgba(31, 192, 142, 0.8);
}

.sidenav .closebtn {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 15px;
    font-size: 36px;
    color: #fff;
    /* margin-left: 50px; */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/* Style the sidenav links and the dropdown button */
.dropdown-btn {
    padding: 9px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    display: block;
    transition: 0.3s;
    font-weight: bold;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    border-top: 1px solid #24323d;
    border-bottom: 1px solid #3f566a;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
  background-color: rgba(31, 192, 142, 0.8);
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #143f61;
  color: #fff;
}
.dropdown-container a {
    border-top: 1px solid #24323d;
    border-bottom: 1px solid #3f566a;
    padding-left: 16px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}