
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 14px; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  color: #000;
  font-size: 14px; }
a:hover{
  text-decoration: none;
}

section.tuyenqts {
    margin-top: 30px;
}
.tuyenqts .bg_fff{
background: #fff;
border: 1px solid #e4e4e4;
height: 130px;
overflow-x: hidden;
}
.tuyenqts .group_box_2{
position: relative;
padding: 10px 0px 5px 5px ;
}
.tuyenqts .group_box_2 p{
margin-bottom: 2px;
}
.tuyenqts .group_box_2 .text_1{
text-align: center;
font-size: 0.8vw;
font-weight: bold;
height: 30px;
overflow: hidden;
margin-bottom: 6px;
color: #989898
}
.tuyenqts .group_box_2 .text_1 i{
color: #6dd24c;
}
.tuyenqts .group_box_2 .text_2 {
text-align: center;
font-size: 1.5vw;
font-weight: bold;
color: #6dd24c;
}
.tuyenqts .group_box_2 .text_3{
margin-top: -6px;
font-size: 0.5vw;
}
.tuyenqts .group_box_2 .text_3 span{
color: #6dd24c;
}
.tuyenqts .group_box_4{
padding: 30px 10px 5px 10px;
height: 70px;
margin-bottom: 6px;
}
.tuyenqts .group_box_4 .text_1{
margin: 0;
background: #d9e2f4;
height: 100%;
padding-top: 10px;
font-size: 1vw;
text-align: center;
font-weight: bold;
color: #797979;
overflow-x: hidden;
}
.tuyenqts .highcharts-credits, .tuyenqts .highcharts-exporting-group{
display: none;
}
.tuyenqts .title_tuyenqts{
padding: 10px;
background: #7cb5ec;
color: #fff;
font-size: 20px;
text-transform: uppercase;
text-align: center;
}
.tuyenqts .highcharts-legend {
display: none;
}

.title-box-ch {
  position: relative;
  display: inline-block;
 }
.title-box-ch h4 {
  margin: 0;
  padding: 0;
  width: 100%;
  background: #af5405;
  color: #fff;
  font-size: 20px;
  padding: 10px; }
  .title-box-ch:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 22px 0 20px 35px;
  border-color: transparent transparent transparent #af5405;
  position: absolute;
  right: -35px;
  top: 0;
}
.qts_head_top {
padding: 20px 0px;
border-bottom: 1px solid #44aa00;
margin-bottom: 80px;
}
.container-fluid-fix {
    padding: 0px 75px;
}
.menu_header_top {
    margin-top: 0.625rem;
}
.menu_header_top {
    float: right;
}
.menu_header_top li {
  list-style: none;
  float: left;
  padding: 0.3125rem 0.4375rem;
}
.menu_header_top li a {
  font-size: 14px;
  font-family: OpenSansRegular;
  color: #333;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.menu_header_top i {
    font-size: 20px;
}
.logo_pc a{
  font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}
.logo_pc {
    text-transform: uppercase;
    padding: 10px;
    height: 10vh;
}

.logo_pc a img {
    margin-right: 10px;
}

.pushy {
  position: fixed;
  width: 250px;
  height: 100%;
  top: 0px;
  z-index: 9999;
  overflow: auto;
  background: #ffffffc4;
  padding: 0 10px;
}

.pushy a:hover {
    background: #af5405;
}
.pushy a.active {
    background: #af5405;
}
li.pushy-link {
    background: #7cb5ec;
    margin-bottom: 10px;
}

.pushy a {
    display: block;
    color: #fff;
    padding: 20px;
    text-decoration: none;
    font-size: 14px;
    text-align: center;}

.pushy.pushy-left {
  left: 0; }

.pushy.pushy-right {
  right: 0; }

.pushy-content {
  visibility: hidden; }

/* Menu Movement */
.pushy-left {
  -webkit-transform: translate3d(-260px, 0, 0);
  -ms-transform: translate3d(-260px, 0, 0);
  transform: translate3d(-260px, 0, 0); }

.pushy-open-left #container,
.pushy-open-left .push {
  -webkit-transform: translate3d(-260px, 0, 0);
  -ms-transform: translate3d(-260px, 0, 0);
  transform: translate3d(-260px, 0, 0); }

.pushy-right {
  -webkit-transform: translate3d(-260px, 0, 0);
  -ms-transform: translate3d(-260px, 0, 0);
  transform: translate3d(-260px, 0, 0); }

.pushy-open-right #container,
.pushy-open-right .push {
  -webkit-transform: translate3d(-260px, 0, 0);
  -ms-transform: translate3d(-260px, 0, 0);
  transform: translate3d(-260px, 0, 0); }

.pushy-open-left .pushy,
.pushy-open-right .pushy {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.pushy-open-left .pushy-content,
.pushy-open-right .pushy-content {
  visibility: visible; }

/* Menu Transitions */
#container,
.pushy,
.push {
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: -webkit-transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  -o-transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99), -webkit-transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99); }

.pushy-content {
  -webkit-transition: visibility 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  -o-transition: visibility 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: visibility 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99); }

/* Site Overlay */
.site-overlay {
  display: none; }

.pushy-open-left .site-overlay,
.pushy-open-right .site-overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-animation: fade 500ms;
  animation: fade 500ms; }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* Submenu Appearance */
.pushy-submenu {
  /* Submenu Buttons */
  /* Submenu Icon */ }

.pushy-submenu ul {
  -webkit-transition: max-height 0.2s ease-in-out, visibility 0.2s ease-in-out;
  -o-transition: max-height 0.2s ease-in-out, visibility 0.2s ease-in-out;
  transition: max-height 0.2s ease-in-out, visibility 0.2s ease-in-out; }

.pushy-submenu ul .pushy-link {
  -webkit-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out; }

.pushy-submenu button {
  width: 100%;
  color: #ebebeb;
  padding: 7px 35px;
  text-align: left;
  background: transparent;
  border: 0;
  font-size: 14px; }

.pushy-submenu button:hover {
  color: #cd661d; }

.pushy-submenu > a,
.pushy-submenu > button {
  position: relative; }

li.pushy-link {
  position: relative; }

ul li.pushy-link span {
  position: absolute;
  left: 10px;
  font-size: 14px; }

.pushy-submenu > a::after,
.pushy-submenu > button::after {
  content: '';
  display: block;
  height: 10px;
  width: 10px;
  position: absolute;
  top: 51%;
  right: 15px;
  background: url("../images/arrow.svg") no-repeat;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s; }

li.pushy-submenu.pushy-submenu-closed button > span {
  position: absolute;
  left: 10px;
  font-size: 14px; }

li.pushy-submenu.pushy-submenu-open button > span {
  position: absolute;
  left: 10px;
  font-size: 14px; }

/* Submenu Movement */
.pushy-submenu-closed ul {
  max-height: 0;
  overflow: hidden;
  visibility: hidden; }

.pushy-submenu-closed .pushy-link {
  opacity: 0; }

.pushy-submenu-open {
  /* Submenu Icon */ }

.pushy-submenu-open ul {
  max-height: 1000px;
  visibility: visible; }

.pushy-submenu-open .pushy-link {
  opacity: 1; }

.pushy-submenu-open a::after,
.pushy-submenu-open button::after {
  -webkit-transform: translateY(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg); }

button.menu-btn {
    float: right;
    border: none;
    position: relative;
    display: inline-block;
    margin: 0;
    background: #af5405;
    color: #fff;
    font-size: 20px;
    padding: 10px;
}

.lanhdaobo .tit_lanhdaobo img {
        margin-top: -5px;
        margin-right: 10px;
}
.lanhdaobo .tit_lanhdaobo {
        font-size: 24px;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding: 0 10px;

}
.img_botruong {
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid #e2e2e0;
}
.img_botruong img {
    width: 120px;
    height: 120px;
    object-fit: cover;

}
.box_botruong {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.sub_box_botruong .name{
font-size: 18px;
color: #000000;
border-bottom: 6px solid #e2e2e0;
padding: 0 5px 5px;
}
.sub_box_botruong .level {
    display: block;
    margin-top: 10px;
    padding: 0 5px;
    font-size: 14px;
    color: #333333;
}
.box_botruong2_fix {
  margin-top:15px;
}
.box_botruong2_fix .sub_box_botruong .name{
  font-size: 13px;
}
.botruong-item{
  margin-top: 40px;
}


 .modal {
  display: none;
  vertical-align: middle;
  position: relative;
  z-index: 2;
  max-width: 400px !important;
  box-sizing: border-box;
  width: 100%;
  background: #fff;
  padding: 0 !important;
  border-radius: 0 !important;
  -webkit-box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -o-box-shadow: 0 0 10px #000;
  -ms-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
  text-align: left;
  }
  .card-container.card {
    padding: 40px 40px;
  }

  .btn {
      font-weight: 700;
      height: 36px;
      -moz-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      cursor: default;
  }

  .card {
      background-color: #F7F7F7;
      padding: 20px 25px 30px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  }

  .profile-img-card {
      width: 96px;
      height: 96px;
      margin: 0 auto 10px;
      display: block;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
  }

    .profile-name-card {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        margin: 10px 0 0;
        min-height: 1em;
    }

    .reauth-email {
        display: block;
        color: #404040;
        line-height: 2;
        margin-bottom: 10px;
        font-size: 14px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .form-signin #inputEmail,
    .form-signin #inputPassword {
        direction: ltr;
        height: 44px;
        font-size: 16px;
    }

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    background-color: rgb(104, 145, 162);
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
  background-color: rgb(175, 84, 5);
}

.forgot-password {
  color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}

.modal a.close-modal {
    top: 5px !important;
    right: 5px !important;
}


.name-item-custormer {
    display: flex;
    background: #229cff;
    color: #fff;
    text-align: center;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    font-size: 16px;
}
.img-name-customer {
    font-size: 40px;
    margin-right: 10px;
}

.tab-main {
  padding: 0 2.2rem;
  background: #fff;
  /* border-bottom: 1px solid #ccc; */
  margin-bottom: 20px; }
  .tab-main li {
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 500;
    margin-right: 30px; }
    .tab-main li a {
      color: #7b7e8a;
      padding: 10px 0;
      display: inline-block; }
      .tab-main li a .fa {
        font-size: 1.2rem;
        margin-right: 5px; }
    .tab-main li.active {
      border-bottom: 3px solid #34bfa3; }
      .tab-main li.active .fa {
        color: #34bfa3; }

.tab-content-main {
  padding: 0 2.2rem; }

.title-qc.blue {
  background: #229cff; }

.title-qc.yellow {
  background: #ffb822; }

.title_box_qh {
  font-size: 11px;
  font-weight: 500;
  color: #575962;
  padding: 1rem 2.2rem;
  border-bottom: 1px solid #ddd; }
  .title_box_qh img {
    margin-top: -6px; }

.prog_tit {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 1rem;
  font-weight: 300;
  color: #9699a2; }
  .prog_tit b {
    color: #FF6500;
    font-size: 1.75rem;
    font-weight: 600; }

.des_prog {
  font-size: 1rem;
  color: #9699a2; }

.content_folow {
  padding: 15px 25px; }

.box_folow_job {
  height: 215px;
  border-right: 1px solid #ebedf2; }

.list_folow li {
  color: #6f727d;
  font-weight: 400;
  margin-bottom: 20px; }
  .list_folow li i.fa {
    float: left;
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    text-align: left;
    width: 35px;
    font-size: 1.4rem; }
  .list_folow li p {
    font-size: 1rem; }
    .list_folow li p span {
      float: left; }
    .list_folow li p b {
      float: right;
      font-weight: normal;
      padding: 0px 10px;
      background: #34bfa3;
      color: #fff;
      border-radius: 15px; }
  .list_folow li:nth-child(2) b {
    background: #5867dd; }
  .list_folow li:nth-child(3) b {
    background: #FF6500; }
    .sc_chiso{
    display: flex;
}

.box_chiso {
  border-right: 1px solid #ebedf2;
   }

.bdnone {
  border-right: 0; }

.sc_folow_job, .sc_chiso {
  -webkit-box-shadow: 2px 5px 10px 0px #ebe9e9;
  box-shadow: 2px 5px 10px 0px #ebe9e9; }

.content_chiso {
  padding: 15px 10px;
  margin-bottom: 15px; }

.list_tongket {
  border-bottom: 1px solid #ebedf2; }
  .list_tongket li img {
    float: left;
    margin-top: -2px;
    margin-right: 5px; }
  .list_tongket li:hover {
    color: red; }

.title_box_qh img {
  width: 28px;
  height: 28px;
  margin-right: 8px; }

.highcharts-exporting-group {
  display: none !important; }
  .bieudo-radar{
    max-width: 500px;
    margin: auto;
    text-align: center;
  }
.title-qc {
        background: #229cff;
    border-color: #FF6500;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    height: 53px;
    display: flex;
    text-transform: uppercase;
    align-items: center;
    padding-left: 40px;
        margin: 0;
}
.phanquyen-customer-box{
  display: flex;
  align-items: center;
}

.sc_folow_job .col-md-2{
  width: 20% !important
}

.ten-chucdanh {
    background: #229cff;
    color: #fff;
    text-align: center;
    font-size: 14px;
}

.ten-chucdanh h4 {
    font-size: 14px;
    padding: 10px;
        line-height: 21px;
}

.name-item-custormer.red-color {
    background: #e61616;
}

.name-item-custormer.green {
    background: #1a7314;
}
.clearfix.add-mt-4 {
    margin-bottom: 30px;
}

ul.menu-phongchong li a {
    background: #145e9a;
    color: #fff;
    padding: 0px 10px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    height: 65px;
    align-items: center;
    display: flex;
    justify-content: center;
}

ul.menu-phongchong li {
    margin-bottom: 20px;
    box-shadow: 2px 5px 10px 0px #757070;
}

nav.navbar.navbar-expand-lg.navbar-light {
    background: blue !important;
}
a.navbar-brand {
    color: #fff !important;
    font-weight: 600;
}