@media (min-width:1600px) /* lg*/ {

  .menu_header_top li a{

    font-size: 0.74vw;

  }

  .logo_pc {

        font-size: 1.25vw;

    }

    .name_ldb{

        font-size: 0.74vw;

    }

    .title-qc, .title_mission{

        font-size: 1.1vw;

    }

    .title_box_qh{

        font-size: 1.2rem;

    }

    .prog_tit, .des_prog{

        font-size: 0.74vw;

    }
    .col-20{
      width: 20%!important;
    }

}



@media (min-width:1200px) /* lg*/ {

    .row_pc{

        margin-right: -15px;

        margin-left: -15px;

    }

    .container{

        width: 1200px;

    }

    .row_5{

      margin: 0px -5px;

    }

    .pdd_5{

      padding: 0px 5px;

    }

    .container-fluid-fix {

    padding: 0px 75px;

    }
    .col-20{
      width: 20%!important;
    }



}



@media (min-width:992px) and (max-width:1199px) /* md*/{

    .list_link_hd{

        float: left !important;

    }

    .row_5{

      margin: 0px -5px;

    }

    .pdd_5{

      padding: 0px 5px;

    }
    .col-20{
      width: 20%!important;
    }

}



@media (min-width:768px) and (max-width:991px) /* sm*/{

    .sc_header_menu.sticky-header{

        position: relative !important;

    }

    .box_business_index{

      margin: 0px 15px;

    }

}



@media (max-width:767px) /* xs*/{

    .sc_header_menu.sticky-header{

        position: relative !important;

    }

    .box_business_index{

      margin: 0px 15px;

    }

}



@media (max-width:480px) {

    .col-480-12{

        width: 100% !important;

    }

    .col-480-6{

        width: 50% !important;

    }

    .hidden-480{

        display: none !important;

    }

    .visible-480{

        display: block !important;

    }

    .box_business_index{

      margin: 0px 15px;

    }



}









.visible-480{

    display: none;

}

